@font-face {
    font-family:"Main_Font";
    src: url('fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Header";
    src: url('fonts/times-new-roman/times.ttf');
}

:root{
    --primeira:#000000;
    --segunda:#262626;
    --terceira:#404040;
    --quarta:#595959;
    --quinta:#A6A6A6;
}
*{
    margin:0 auto;
    min-width: none;

}

body{
    font-family: "Header";
    font-size: medium;
    display: flex;
    flex-flow: column wrap;
    font-family: "Main_Font";
    min-height: 100vh;
    background: #f5f4f4;
    
}

header{
    width: 100%;
    background: #000;
    color:#fff;
    height: 110px;
    margin-bottom: 5px;

}

header > h1{
    font-family:"Noto Serif";
    font-size:2.6em;
    padding-left: 5px;
    text-align: center;
    color:#fff;
    text-shadow: 1px 1px 1px #fff;
    margin-bottom: 5px;
}

header nav{
    text-align: center;
    margin-bottom: 5px;
    margin-right: 10px;
}

header > nav > a{
    text-decoration: none;
    color: #fff;
    margin:2px;
}


header > nav > a:hover{
    background:#fff;
    color:var(--segunda);
    border-radius: 27px;
    padding:5px;
    width:480px;
    height: 160px;
}

main{
    flex:1;
    border: 0;
    padding: 10px;
    width: 920px;
    min-width: 240px;
    height: 100vh;
    margin: 0 auto;
    background:#fff;    
    margin-bottom: 15px;
}


main > section > p{
    margin: 15px;
    padding: 5px;
}

main > section > p > a{
    text-decoration: none;
    color: rgb(0, 102, 255);
}



footer{
    
    justify-content: flex-start;
    width: 100%;
    height: 55px;
    text-align: center;
    background: #000;
    color:#fff;
}

section{
    margin-top: 15px;
}

section h2{
    text-align: center;
    margin-bottom: 10px;
    background: var(--primeira);
    color: #fff;
    padding: 15px;
    width: 135px;
    border-radius: 27px;
    text-justify: auto;
}

section a{
    text-decoration: none;
}

.gif_ajust{
    display: flex;
}

main section nav a{
    background: var(--primeira);
    color: #fff;
    border-radius: 27px;
    padding: 10px;
    margin-bottom: 100px;
}


main section nav a:hover{
    background: var(--quarta);
    color: #fff;
}


main section ul li a{
    color: #000;
    border-radius: 27px;
    padding: 3px;

}

main section ul li a:hover{
    color: #A6A6A6;
}

p{
    font-size: 16px;
    text-justify: auto;
    margin: 15px;
}