@font-face {
    font-family:'Oswald';
    src: url('fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

:root{
    --fist:#283540;
    --second:#4D6173;
    --third:#8094A6;
    --fourth:#D8E6F2;
    --fifth:#0D0D0D;

}

* {
    margin:auto;
    font-family: 'Oswald';
}

body{
    position: relative;
    min-height: 100%;
    min-height: 100vh;
}

header{
    display: flex;
    flex-direction:column;
    min-width: 320px;
    background-image:linear-gradient(to right, var(--fifth), var(--fist), var(--second));
    color:#fff;
    padding: 10px;
    text-align: center;
}

header h1{
  text-shadow: 2px 2px 2px #000;
}

header a{
    text-decoration: none;
    color:#fff;
    margin:5px;

}

header a:hover{
    border-radius: 27px;
    background: #fff;
    color:var(--fifth);
    padding: 4px;
}

header a:visited{
    border-radius: 27px;
    background:var(--second);
}

header a:active{
    border-radius: 27px;
    background:#000;
    color:var(--third);
}

main {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
    
}



footer{
    display: flexbox;
    background: var(--fist);
    color:#fff;
    width: 100%;
    bottom: 0;
    position:absolute;
}

/*Formatações para página translations*/

.Titulos{
    background: var(--second);
}