@font-face {
    font-family:"Main_Font";
    src: url('fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Header";
    src: url('fonts/times-new-roman/times.ttf');
}

:root{
    --primeira:#0726D9;
    --segunda:#031240;
    --terceira:#1760BF;
    --quarta:#3D9DF2;
    --quinta:#52C5F2;
}
*{
    margin:0 auto;

}

body{
    font-family: "Header";
    font-size: medium;
    display: flex;
    flex-flow: column wrap;
    font-family: "Main_Font";
    min-height: 100vh;
    background: #f5f4f4;
    
}

header{
    width: 100%;
    background-image: linear-gradient(to right, var(--primeira), var(--terceira), var(--quinta));
    color:#fff;
    height: 110px;
    margin-bottom: 5px;

}

header > h1{
    font-family:"Noto Serif";
    font-size:2.6em;
    padding-left: 5px;
    text-align: center;
    color:#fff;
    text-shadow: 1px 1px 1px #fff;
    margin-bottom: 5px;
}

header nav{
    text-align: center;
    margin-bottom: 5px;
    margin-right: 10px;
}

header > nav > a{
    text-decoration: none;
    color: #fff;
    margin:2px;
}


header > nav > a:hover{
    background:#fff;
    color:var(--segunda);
    border-radius: 27px;
    padding:5px;
    width:480px;
    height: 160px;
}

main{
    flex:1;
    border: 0;
    padding: 10px;
    width: 920px;
    min-width: 240px;
    height: 100vh;
    margin: 0 auto;
    background:#fff;    
    margin-bottom: 15px;
}


main > section > p{
    margin: 15px;
    padding: 5px;
}

main > section > p > a{
    text-decoration: none;
    color: rgb(0, 102, 255);
}



footer{
    
    justify-content: flex-start;
    width: 100%;
    height: 55px;
    text-align: center;
    background-image: linear-gradient(to right, var(--primeira), var(--terceira), var(--quinta));
    color:#fff;
}

table{
    border: solid;
    padding: 10px;
}

table tr > th{
    margin: 5px;
}

table tr > td{
    margin: 5px;
}

table a{
    text-decoration: none;
    color:blue;
}

section{
    margin-top: 15px;
}

section a{
    text-decoration: none;
}
