@font-face {
    font-family:'Oswald';
    src: url('fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

:root{
    --fist:#03318C;
    --second:#021F59;
    --third:#010D26;
    --fourth:#0460D9;
    --fifth:#0476D9;

}

* {
    margin:0 auto;
    font-family: 'Oswald';
    font-size: 1em;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Oswald';
    font-size: 1.3em;
}

body main{
    flex: 1;
    border: 0;
    max-width: 620px;
    min-width: 320px;
    padding:15px;
    
}


header{
    width: 100%;
    background-image:linear-gradient(to left, var(--fist), var(--third), var(--second));
    color:#fff;
    padding: 10px;
    margin-bottom: 5px;
}

header h1{
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  font-size: 1.5em;
}

header a{
    text-decoration: none;
    color:#fff;
    margin:2px;
    text-align: left;
}

header a:hover{
    border-radius: 27px;
    background: #fff;
    color:var(--fifth);
    padding: 4px;
}

header a:visited{
    border-radius: 27px;
    background:var(--third);
}

header a:active{
    border-radius: 27px;
    background:#000;
    color:var(--third);
}



body main h2{
    border-radius: 27px 27px 0px 0px;
    background: var(--fist);
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

body main h3, h4, h5{
    background-color: var(--fourth);
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}


main a{
    text-decoration: none;
    color:var(--fifth);
}

main img{
    min-width: none;
    max-width: 620px;
    display: block;
    text-align: center;
    margin-bottom:5px;
}



footer{
    display: contents;
    width: 100%;
    height: 60px;
    display: flex;
    text-align: center;
    background: var(--fist);
    color:#fff;
}


.image_container{
    display: flex;
    max-width: 520px;
    min-width: 220px;
}